@import "../bootstrap/scss/bootstrap";
$spacer: 1em;

html {
  overscroll-behavior: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: unset;
  padding: unset;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  overflow-y: scroll;
}

div.container-fluid {
  @extend .d-flex, .flex-row, .wrapper, .pe-0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  justify-content: flex-start;
}

div.container-fluid::-webkit-scrollbar {
  display: none;
}

@import "components/components.scss";
@import "pages/home_page.scss";
@import "pages/base64_encoder.scss";
@import "pages/date_converter.scss";
@import "pages/hash_generator.scss";
@import "pages/qr_code_generator.scss";
@import "pages/uuid_generator.scss";
