@import "../bootstrap/scss/bootstrap";

html {
  overscroll-behavior: none;
}

body {
  margin: unset;
  padding: unset;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  overflow-y: scroll;
}

.container-fluid {
  @extend .d-flex, .flex-row, .wrapper, .pe-0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  justify-content: flex-start;
}

/* Taken from https://ordinarycoders.com/blog/article/codepen-bootstrap-card-hovers */
.card {
  border-radius: 4px;
  background: var(--bs-body-bg);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.sidebar {
  @extend .flex-row, .d-flex;
  width: 14em;
}

.sidebar-list {
  overflow-y: scroll;
  width: 100%;

  .btn {
    @extend .btn-sm;
    width: 100%;
    text-align: left;
    white-space: nowrap;
  }
  .accordion {
    @extend .accordion-flush, .flex-column, .ms-2, .mb-2, .pt-2, .pe-3;
  }
  .accordion-button:not(.collapsed) {
    background-color: var(--bs-body-bg);
  }
}

.widget-view {
  width: 100%;
  overflow-y: scroll;
  padding-left: 1em;
  padding-right: 1em;
  clip-path: inset(0 0 0 0);
}

.card-body {
  width: 100%;
}

.sidebar-icon {
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
  margin-top: -0.25em;
}

.home-page {
  @extend .d-flex, .flex-row, .flex-wrap, .gap-2;

  .card {
    @extend .p-0;
    width: 10em;
    height: 10em;

    .card-title {
      font-size: 1.2em;
      font-weight: bold;
    }
    .card-body {
      font-size: 0.8em;
    }
  }
}

$widget-title-left-overflow: 0.5em;
.widget-title {
  position: fixed;
  top: 0;
  background-color: var(--bs-body-bg);
  width: 100%;
  z-index: 100;
  /* prevent widget body elements that may overflow the margin from appearing behind the title bar */
  margin-left: -$widget-title-left-overflow;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: $widget-title-left-overflow;
}

.widget-body {
  padding-top: 3em;
  width: 100%;
}
