@import "../bootstrap/scss/bootstrap";

html {
  overscroll-behavior: none;
}

body {
  margin: unset;
  padding: unset;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  overflow-y: scroll;
}

.container-fluid {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

/* Taken from https://ordinarycoders.com/blog/article/codepen-bootstrap-card-hovers */
.card {
  border-radius: 4px;
  background: var(--bs-body-bg);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.sidebar-list {
  width: 14em;
  min-width: 14em;
  overflow-y: scroll;
  z-index: 101;
}

.sidebar-list .btn {
  width: 100%;
  text-align: left;
}

.sidebar-list .accordion-button:not(.collapsed){
  background-color: var(--bs-body-bg);
}

.widget-view {
  width: 100%;
  overflow-y: scroll;
  padding-left: 1em;
  padding-right: 1em;
  clip-path: inset(0 0 0 0);
}

.card-body {
  width: 100%;
}

.home-page .card {
  width: 10em;
  height: 10em;
}

.home-page .card .card-title {
  font-size: 1.2em;
  font-weight: bold;
}

.home-page .card .card-body {
  font-size: 0.8em;
}

.widget-title {
  position: fixed;
  top: 0;
  background-color: var(--bs-body-bg);
  width: 100%;
  z-index: 100;
  /* prevent widget body elements that may overflow the margin from appearing behind the title bar */
  margin-left: -2em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 2em;
}

.widget-body {
  padding-top: 3em;
  width: 100%;
}
