body {
  margin: unset;
  padding: unset;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
  overscroll-behavior: contain;
}

.container-fluid {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

/* Taken from https://ordinarycoders.com/blog/article/codepen-bootstrap-card-hovers */
.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.sidebar-list {
  width: 14em;
  min-width: 14em;
  height: 100%;
  overflow-y: scroll;
}

.widget-view {
  margin-left: 14em;
  width: 100%;
}

.card-body {
  width: 100%;
}

.home-page .card {
  width: 10em;
  height: 10em;
}

.home-page .card .card-title {
  font-size: 1.2em;
  font-weight: bold;
}

.home-page .card .card-body {
  font-size: 0.8em;
}

.widget-title {
  position: fixed;
  top: 0;
  font-size: 1.6em;
  background-color: #fff;
  width: 100%;
  z-index: 100;
  /* prevent widget body elements that may overflow the margin from appearing behind the title bar */
  margin-left: -2em;
  padding-left: 2em;
}

.widget-body {
  padding-top: 3em;
  width: 100%;
}

.colorwheel-wrapper {
  position: relative;
  width: 250px;
  height: 250px;
  user-select: none;
  z-index: 10;
}

.colorwheel-gradient {
  height: 100%;
  width: 100%;
  background: conic-gradient(
    from 90deg,
    rgb(255 0 0),
    rgb(255 0 255),
    rgb(0 0 255),
    rgb(0 255 255),
    rgb(0 255 0),
    rgb(255 255 0),
    rgb(255 0 0)
  );
  border-radius: 50%;
  z-index: 9;
}

.colorwheel-inner {
  position: absolute;
  height: 85%;
  width: 85%;
  margin-top: 7.5%;
  margin-left: 7.5%;
  background-color: #fff;
  border-radius: 50%;
  z-index: 10;
}

.saturation-brightness-picker {
  height: 100%;
  width: 100%;
  background: linear-gradient(
      0deg,
      hsla(0deg, 0%, 50%, 0.5) 0%,
      hsl(0deg, 100%, 50%, 0.5) 100%
    ),
    linear-gradient(
      90deg,
      hsl(0deg, 0%, 0%, 0.5) 0%,
      hsl(0deg, 0%, 50%, 0.5) 100%
    );
  /* background-size: 95% 100%, 5% 100%; */
}
