/* Password Generator */
@layer components {
  .password-generator {
    @apply flex flex-col gap-y-3 h-full;
  }

  .password-generator .textarea-form {
    flex: 1 1 auto;
  }

  .password-generator .params {
    @apply flex flex-row gap-x-3 gap-y-3 flex-wrap;
  }

  .password-generator .params > div:not(.switches):not(.buttons) {
    @apply flex grow;
    min-width: 225px;
  }

  .password-generator .params .buttons {
    @apply flex flex-row gap-x-3 items-center;
  }

  .password-generator .params .switches {
    @apply flex flex-row gap-x-3 gap-y-3 flex-wrap items-center;
  }

  .password-generator .params .switches .switch {
    @apply gap-x-1;
  }
}
