/* UUID Generator */
@layer components {
  .uuid-generator {
    @apply flex flex-col gap-y-3 h-full;
  }

  .uuid-generator .textarea-form {
    flex: 1 1 auto;
  }

  .uuid-generator .params {
    @apply flex flex-row gap-x-3 gap-y-3 flex-wrap;
  }

  .uuid-generator .params > div:not(.switches) {
    @apply flex grow;
    min-width: 225px;
  }

  .uuid-generator .params .switches {
    @apply flex flex-col gap-y-3;
  }

  .uuid-generator .params .switches .switch {
    @apply gap-x-1;
  }
}
