div.color-picker {
  $colorwheel_diameter: 17rem;

  .colorwheel-wrapper {
    position: relative;
    width: $colorwheel_diameter;
    height: $colorwheel_diameter;
    user-select: none;
  }

  .colorwheel-svg-wrapper {
    height: 100%;
    width: 100%;

    .colorwheel-svg {
      z-index: 10;
    }

    .colorwheel-gradient {
      height: 100%;
      width: 100%;
      background: conic-gradient(
        from 90deg,
        rgb(255 0 0),
        rgb(255 0 255),
        rgb(0 0 255),
        rgb(0 255 255),
        rgb(0 255 0),
        rgb(255 255 0),
        rgb(255, 0, 0)
      );
    }
  }

  $colorwheel_circuit_width: 0.075 * $colorwheel_diameter;
  $border_width: 0.01 * $colorwheel_diameter;
  $colorwheel_cursor_diameter: $colorwheel_circuit_width;
  --colorwheel_cursor_color: white;
  --colorwheel_cursor_rotation: 90deg;

  .colorwheel-overlay {
    position: relative;
    top: 0;
    height: $colorwheel_diameter;
    width: $colorwheel_diameter;
    transform-origin: center;
    rotate: var(--colorwheel_cursor_rotation);
    z-index: 11;
  }

  .colorwheel-cursor {
    position: absolute;
    display: block;
    height: $colorwheel_cursor_diameter;
    width: $colorwheel_cursor_diameter;
    background-color: var(--colorwheel_cursor_color);
    margin-left: (0.5 * $colorwheel_diameter) -
      (0.5 * $colorwheel_cursor_diameter);
    margin-top: -(0.5 *
          ($colorwheel_cursor_diameter - $colorwheel_circuit_width));
    border: solid $border_width var(--bs-light);
    border-radius: 50%;
    z-index: 11;
  }

  .saturation-brightness-picker {
    height: 100%;
    width: 100%;
    background: linear-gradient(
        0deg,
        hsla(0deg, 0%, 50%, 0.5) 0%,
        hsla(0deg, 100%, 50%, 0.5) 100%
      ),
      linear-gradient(
        90deg,
        hsla(0deg, 0%, 0%, 0.5) 0%,
        hsla(0deg, 0%, 50%, 0.5) 100%
      );
  }

  --color-view-background: white;
  .color-view {
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
    background-color: var(--color-view-background);
    border: solid $border_width var(--bs-dark);
  }
}
