div.color-picker {
  $colorwheel_diameter: 17rem;

  .colorwheel-wrapper {
    width: $colorwheel_diameter;
    height: $colorwheel_diameter;

    .colorwheel {
      height: 100%;
      width: 100%;
      position: relative;
      user-select: none;
      display: block;

      .colorwheel-svg {
        position: absolute;
        z-index: 10;
      }

      .colorwheel-gradient {
        height: 100%;
        width: 100%;
        background: conic-gradient(
          from 90deg,
          rgb(255 0 0),
          rgb(255 0 255),
          rgb(0 0 255),
          rgb(0 255 255),
          rgb(0 255 0),
          rgb(255 255 0),
          rgb(255, 0, 0)
        );
      }

      .colorwheel-cursor {
        position: relative;
        height: $colorwheel_diameter;
        width: $colorwheel_diameter;
        z-index: 11;
      }
    }
  }

  .saturation-brightness-wrapper {
    display: block;
    height: $colorwheel_diameter;
    width: $colorwheel_diameter;
  }

  .saturation-brightness-box {
    position: relative;
    height: 100%;
    width: 100%;
    .saturation-brightness-gradient {
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to top, #000 0%, transparent 100%),
        linear-gradient(to right, #fff 0%, transparent 100%);
    }
    .saturation-brightness-cursor {
      position: absolute;
    }
  }

  --color-view-background: white;
  .color-view {
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
    background-color: var(--color-view-background);
    border: solid $border_width var(--bs-dark);
  }
}