.select-form {
  margin-bottom: 1em;
}

.selectors-wrapper {
  @extend .flex-row, .d-flex;

  flex-wrap: nowrap;
}

@media screen and (max-width: 835px) {
  .selectors-wrapper {
    flex-wrap: wrap;
  }
}

.selectors {
  @extend .flex-column;
  .selectors-inner {
    @extend .flex-row, .d-flex, .flex-nowrap;
    .number-input {
      @extend .flex-column, .flex-fill, .me-2;
    }
  }
}
