.home-page {
  @extend .d-flex, .flex-row, .flex-wrap, .gap-2;
  padding-bottom: 1rem;

  .card {
    @extend .p-0;
    width: 10rem;
    height: 14rem;

    .card-img-top {
      @extend .text-center;
      margin-top: 1rem;
    }

    .icon {
      height: 3rem;
      width: 3rem;
    }

    .card-title {
      @extend .text-start;
      font-size: 1.2rem;
      font-weight: bold;
    }
    .card-body {
      @extend .text-start;
      font-size: 0.8rem;
    }
  }
}
