/* Layout Components */
@layer components {
  /* Container */
  .container-fluid {
    @apply flex flex-row w-screen h-screen overflow-y-scroll justify-start pe-0;
  }

  .container-fluid::-webkit-scrollbar {
    display: none;
  }

  /* Sidebar */
  .sidebar {
    @apply flex flex-row;
    width: 15em;
  }

  .sidebar-list {
    @apply overflow-y-scroll w-full;
  }

  .sidebar-list .btn {
    @apply btn-sm w-full text-left whitespace-nowrap;
  }

  .sidebar-list .btn .icon {
    @apply h-4 w-4 mr-2 -mt-1;
  }

  .sidebar-list .accordion {
    @apply flex flex-col ms-2 mb-2 pt-2 pe-3;
  }

  /* Widget View */
  .widget-view {
    @apply ps-3 pe-3 w-full h-full overflow-y-scroll overflow-x-clip;
  }

  .widget-title {
    @apply sticky top-0 mb-0 pt-1 pb-1 bg-base-100 z-[100];
    width: calc(100% + 1em);
    margin-left: -0.5em;
    padding-left: 0.5em;
  }

  .widget-body {
    @apply pt-2 w-full;
    height: 1px;
    min-height: calc(100% - 3em);
  }

  .widget-body > div {
    @apply pb-3;
  }
}
