div.number-input {
  @extend .mb-3;
  .input-and-label {
    @extend .form-floating;
    input {
      @extend .form-control, .h-100;
    }
  }
  button {
    @extend .btn, .btn-outline-secondary, .p-0;

    &:hover {
      @extend .btn-outline-primary;
    }
  }
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
