div.sidebar {
  @extend .flex-row, .d-flex;
  width: 15rem;

  .sidebar-list {
    overflow-y: scroll;
    width: 100%;

    .btn {
      @extend .btn-sm;
      width: 100%;
      text-align: left;
      white-space: nowrap;

      .icon {
        height: 1rem;
        width: 1rem;
        margin-right: 0.5rem;
        margin-top: -0.25rem;
      }
    }
    .accordion {
      @extend .accordion-flush, .flex-column, .ms-2, .mb-2, .pt-2, .pe-3;
    }
    .accordion-button:not(.collapsed) {
      background-color: var(--bs-body-bg);
    }
  }
}
