.sidebar {
  @extend .flex-row, .d-flex;
  width: 15em;
}

.sidebar-list {
  overflow-y: scroll;
  width: 100%;

  .btn {
    @extend .btn-sm;
    width: 100%;
    text-align: left;
    white-space: nowrap;

    .icon {
      height: 1em;
      width: 1em;
      margin-right: 0.5em;
      margin-top: -0.25em;
    }
  }
  .accordion {
    @extend .accordion-flush, .flex-column, .ms-2, .mb-2, .pt-2, .pe-3;
  }
  .accordion-button:not(.collapsed) {
    background-color: var(--bs-body-bg);
  }
}
