div.textarea-form {
  @extend .form-floating;
  textarea {
    @extend .form-control, .h-100;
    font-family: "Monaco", Courier, monospace;
    font-size: small;
  }

  textarea::-webkit-resizer {
    display: none;
  }
}
