div.widget-view {
  @extend .ps-3, .pe-3, .w-100, .h-100;
  overflow-y: scroll;
  overflow-x: clip;

  $widget-title-left-overflow: 0.5em;
  .widget-title {
    @extend .sticky-top, .mb-0, .pt-1, .pb-1;
    background-color: var(--bs-body-bg);
    width: calc(100% + (2 * #{$widget-title-left-overflow}));
    z-index: 100;
    /* prevent widget body elements that may overflow the margin from appearing behind the title bar */
    margin-left: -$widget-title-left-overflow;
    margin-right: 0;
    padding-left: $widget-title-left-overflow;
  }

  .widget-body {
    @extend .pt-2, .w-100;
    height: 1px;
    min-height: calc(100% - 3em);

    > div {
      @extend .pb-3;
    }
  }
}
