name: Build static site

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  TARGET_DIR: ./target/dx/dev-widgets/release/web/public

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      # Install Node.js and build Tailwind CSS
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'
      - name: Install npm dependencies
        run: npm ci
      - name: Build Tailwind CSS
        run: npm run tailwind:build

      # Install toolchain
      - name: Install Rust Toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: wasm32-unknown-unknown
      - name: Configure Cargo cache
        uses: Swatinem/rust-cache@v2
      - name: Install dioxus-cli
        uses: taiki-e/install-action@v2
        with:
          tool: dioxus-cli

      # Build app
      - name: Build static site
        run: |
          dx build --platform web --release

      # Upload artifact
      - name: Fix permissions for artifact upload
        run: |
          chmod -c -R +rX "${{env.TARGET_DIR}}/" | while read line; do
            echo "::warning title=Invalid file permissions automatically fixed::$line"
          done
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ${{env.TARGET_DIR}}
  deploy:
    runs-on: ubuntu-latest
    needs: build

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
